<?dbax  
	   dbax_core.include('header');
	   dbax_core.g$view('navbar_item') := 'home';
	   dbax_core.include('navbar');
		
	   dbax_core.g$view('extra_css') := '
	    <style>
  			.img-responsive {
		    	 margin: 0 auto;
			}
			.reset {
				color: inherit;
			}
		</style>';
?>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>dbax <em>is a wonderful MVC web Framework made for Oracle PL/SQL</em></h2>
					    <p>for high-performing database-driven Web applications. <a href="${base_path}/learnmore">Learn More</a></p>	
                      
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1" id="highlights">
					<div class="container">
						<div class="row 200%">
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#intro" class="reset">
                                    <span class="icon major fa-code"></span>
									<h3>PL/SQL MVC Framework</h3>
                                  </a>
									<p>DBAX is the first PL/SQL MVC Web framework. Take control of your application code (front-end and back-end).</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
									<a href="${base_path}/learnmore#web-console" class="reset">
                                      <span class="icon major fa-desktop"></span>
                                      <h3>Web console</h3>
                                    </a>
                                    <p>Configure your application, review logs, create users... through an intuitive Web console.</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
									<a href="${base_path}/learnmore#security" class="reset">
                                      <span class="icon major fa-lock"></span>
									  <h3>Secure</h3>
                                    </a>
									<p>Authenticate your users using LDAP, Simple authentication, RBAC for Authorization...
                                      Exploit database features like Virtual Private Database and Real Application Security.</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#fast" class="reset">
									<span class="icon major fa-tachometer"></span>
                                    <h3>Excepcional performance</h3>
                                  </a>
                                    <p>Engineered with performance tuning in mind.</p>
								</div>
							</section>                          
						</div>                      
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">							
                          	<h2><b>dbax</b> is ready for Enterprise</h2>
							<p>Scale with the Oracle Database. Oracle RAC, Oracle Cloud and the In-Memory option.</p>
						</header>
					</div>
				</section>

			<!-- Highlights2 -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row 200%">
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#clean-urls" class="reset">
                                    <span class="icon major fa-firefox"></span>
                                    <h3>Web standards</h3>
                                  </a>
                                    <p>Friendly URLs, HTML5, CSS3 and Responsive Design, JavaScript and their libraries (AngularJS, ReactJS, whatever).</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#fast-development" class="reset">
                                    <span class="icon major fa-fighter-jet"></span>
                                    <h3>Fast development</h3>
                                  </a>
                                    <p>Live changes, scaffolding, user session state, simple url routing, code generators (tapiGen2).</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#free" class="reset">
                                    <span class="icon major fa-list-alt"></span>
                                    <h3>Open Source</h3>
                                  </a>
                                    <p>DABX is an <a href="/license">Open Source</a> project. Not increase the cost of your Oracle database. Compatible with Free Oracle database Express Edition (XE).</p>
								</div>
							</section>
							<section class="3u 12u(narrower)">
								<div class="box highlight">
                                  <a href="${base_path}/learnmore#logging-tracing" class="reset">
                                    <span class="icon major fa-cog"></span>
                                    <h3>Logging and tracing</h3>
                                  </a>
                                    <p>Automatically record events and data about your application execution. Use it to identify software problems or live monitor.</p>
								</div>
							</section>                          
						</div>                      
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">							
                          	<h2>Easy skill transition for existing Forms developers</h2>
							<p>Oracle Forms is no longer a strategic development tool. Upskilling and encourages your PL/SQL developers to a real web environment</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="6u 12u(narrower)">
								<div class="box post">
								  <a href="/download" class="image left"><img src="${resources_url}/images/icons/pngs/download.png" alt="" /></a>
                                  <div class="inner">                                       	
										<h3><a href="/download">Download <b>dbax</b></a></h3>
										<p>Still in beta. The latest is <strong>Version 0.0.1</strong></p>
									</div>
								</div>
							</section>
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="/doc" class="image left"><img src="${resources_url}/images/icons/pngs/file-folder.png" alt="" /></a>
									<div class="inner">
                                        <h3><a href="/doc">Read the Manual</a></h3>
										<p>Clear and friendly doc. It contains an introduction, tutorial, a number of "how to" guides, and then reference documentation for the components that make up the framework.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="/community" class="image left"><img src="${resources_url}/images/icons/pngs/chat2.png" alt="" /></a>
									<div class="inner">
                                        <h3><a href="/community">View Community</a></h3>
										<p><b>dbax</b> is a community-developed open source project, Get Support & Discuss Things.</p>
									</div>
								</div>
							</section>
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="/contribute" class="image left"><img src="${resources_url}/images/icons/pngs/outside.png" alt="" /></a>
									<div class="inner">
                                        <h3><a href="/contribute"> Contribute</a></h3>
										<p>There are many ways to contribute to the <b>dbax</b> project, whether you are a developer or not.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">							
                          	<a href="${base_path}/learnmore#architecture" class="reset">
                              <h2>Simple architecture</h2>
                            </a>
                          <p><strong>dbax</strong> utilizes a simple architecture where pages are dynamically generated using a template engine and MVC pattern</p>
						</header>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Are you ready to continue?</h2>
							<a href="/download" class="button">Download DBAX</a>                          
						</header>
					</div>
				</section>


		<?dbax dbax_core.include('footer'); ?>

		</div>
		
      	<?dbax dbax_core.include('foot_scripts'); ?>

	</body>
</html>