
		<!-- Scripts -->
			<script src="${resources_url}/assets/js/jquery.min.js"></script>
			<script src="${resources_url}/assets/js/jquery.dropotron.min.js"></script>
			<script src="${resources_url}/assets/js/skel.min.js"></script>
			<script src="${resources_url}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="${resources_url}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="${resources_url}/assets/js/main.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>