<?dbax  
	   dbax_core.include('header');
	   dbax_core.g$view('navbar_item') := 'doc';
	   dbax_core.include('navbar');
?>
			<!-- Banner -->
				<section id="banner">
					<header>
						<h2><img src="/resources/site/images/icons/pngs/file-folder.png" alt=""></h2>
                      <p>The primary documentation for dbax is its User Guide, included in the package downloads.
						 The User Guide can also be read online here</p>
					</header>
				</section>

			<!-- Main -->
            <section class="wrapper style1">
               <div class="container">
                  <div id="content">
                     <!-- Content -->
                     <article class="article-content">
                       <div class="col-md-6 col-sm-6">
                         <div class="well">
                              <h3 class="text-center">dbax 0.x English</h3>
                              <p>dbax 0.x is the current version of the framework, under active development.</p>
                              <p>dbax 0.x is licensed under the <a href="/license">LGPL License</a>.</p>
                              <a href="/documentation/en" class="button btn btn-block"><span class="glyphicon glyphicon-share"></span> Read the User Guide online</a>
                              <a href="/data/dbax-0.1.0-userguide-en.zip" class="button btn btn-block"><span class="glyphicon glyphicon-save"></span> Download the User Guide</a>                              
                         </div>
                       </div>
                       <div class="col-md-6 col-sm-6">
                         <div class="well">
                              <h3 class="text-center">dbax 0.x Spanish</h3>
                              <p>dbax 0.x is the current version of the framework, under active development.</p>
                              <p>dbax 0.x is licensed under the <a href="/license">LGPL License</a>.</p>
                              <a href="/documentation/es" class="button btn btn-block"><span class="glyphicon glyphicon-share"></span> Read the User Guide online</a>
                              <a href="/data/dbax-0.1.0-userguide-es.zip" class="button btn btn-block"><span class="glyphicon glyphicon-save"></span> Download the User Guide</a>
                         </div>
                       </div>
                       
                      <div class="col-md-12 col-sm-12">                        
                        <div class="well">
                          <h3>Notes</h3>
                          <div class="list-group">
                            <div class="list-group-item">
                              <h4 class="list-group-item-heading">What's inside the User Guide?</h4>
                              <p class="list-group-item-text">The User Guide contains an introduction, tutorial, a number
                                of "how to" guides, and then reference documentation 
                                for the components that make up the framework.</p>
                            </div>
                            <div class="list-group-item">
                              <h4 class="list-group-item-heading">Where else can I find the User Guide?</h4>
                              <p class="list-group-item-text">The user guide download is simply the zipped folder from the released version.
                                It is included in the <a href="/download">framework download</a>.</p>
                            </div>
                          </div>
                        </div>                        
                    </div>
                    
                    </article>
                  </div>
               </div>
            </section>


		<?dbax dbax_core.include('footer'); ?>

		</div>
		
      	<?dbax dbax_core.include('foot_scripts'); ?>

	</body>
</html>