<?dbax dbax_core.g$var('navbar_item') := 'Contact';	 ?>
<?dbax dbax_core.g$var('extra_css') := q'[<script src='https://www.google.com/recaptcha/api.js'></script>]';?>

<?dbax dbax_core.include('header'); ?>
<?dbax dbax_core.include('navbar'); ?>
			<!-- Banner -->
				<section id="banner">
					<header>
                      <h2>Get in touch</h2>
                        <p>We'd <i class="fa fa-heart"> </i> to hear from you</p>
					</header>
				</section>

			<!-- Main -->
            <section class="wrapper style1">
               <div class="container">
                  <div id="content">
                     <!-- Content -->
                    <div class="row">                                   			
                       <div class="col-md-6 col-sm-6">                        
							<div class="card">
                              <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Contact</div>
                                     </div>                                  
                                </div>
                                <div class="card-body">
                                  <?dbax if '${okMessage}' = 'OK' then
                                    p(q'[<div class="row 50%">
                                      <div class="12u alert alert-success text-center">
                                        <p style="margin-bottom: 15px;"><strong>Thanks</strong> for contacting us. We'll get back to you very soon.</p>
                                      </div>
                                    </div>]');
                                  elsif '${okMessage}' = 'FAIL'
                                  then
                                  p(q'[<div class="row 50%">
                                      <div class="12u alert alert-danger text-center">
                                        <p style="margin-bottom: 15px;"><strong>Error</strong> captcha is required.</p>
                                      </div>
                                    </div>]');
								  end if; ?>
                                  <form method="POST">
                                     <div class="row 50%">
                                         <div class="12u">
                                           <input type="text" name="name" id="name" placeholder="Full name" required/>
                                         </div>
                                     </div>
                                     <div class="row 50%">
                                       <div class="12u">
                                         <input type="text" name="company_name" id="company_name" placeholder="Company name" required/>
                                       </div>
                                     </div>
                                     <div class="row 50%">
                                        <div class="12u">
                                        <input type="email" name="email" id="email" placeholder="Email address" required/>
                                        </div>
                                      </div>
                                   <div class="row 50%">
                                     <div class="12u">
                                       <textarea name="message" id="message" placeholder="Your message" rows="5"></textarea>
                                     </div>
                                   </div>
                                    <div class="row 50%">
                                     <div class="12u">
                                  		<div class="g-recaptcha" data-sitekey="6Ldj4RkTAAAAAMZEofwchuHyniV15HfAWdmMRZM3" data-callback="recaptchaCallback"></div>                                        
                                     </div>
                                   </div>
                                    <div class="row 50%">
                                     <div class="12u">
                                       <ul class="actions">
                                         <li><input type="submit" class="button alt" value="Send Message" id="submitBtn" disabled/></li>
                                       </ul>
                                     </div>
                                   </div>
                                  
                                  </form>            
                                </div>
                            </div>
                         </div>
                         
                       <div class="col-md-6 col-sm-6">
							<div class="card">
                              <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Find us on</div>
                                     </div>                                  
                                </div>
                                <div class="card-body">
                                	<ul class="icons">
                                        <li><a href="https://twitter.com/dbaxio" class="icon fa-twitter"><span class="label">Twitter</span></a></li>							
                                        <li><a href="https://github.com/osalvador/dbax#" class="icon fa-github"><span class="label">GitHub</span></a></li>														
                                      	<li><a href="https://groups.google.com/forum/#!forum/dbax" class="icon fa-google"><span class="label">Google Groups</span></a></li>
                                    </ul>
                                    <a href="mailto:hello@dbax.io">hello@dbax.io</a>                                          
                                </div>
                            </div>                                                
                      </div>                     
                  </div>
                </div>
               </div>
            </section>


		<?dbax dbax_core.include('footer'); ?>

		</div>
		
      	<?dbax dbax_core.include('foot_scripts'); ?>

      <script>
        function recaptchaCallback() {
            $('#submitBtn').removeAttr('disabled');
        };
      </script>
  

	</body>
</html>