<?dbax dbax_core.g$var('navbar_item') := 'learnmore'; ?>	   
<?dbax 
       dbax_core.g$var('body_attributes') := q'[data-spy="scroll" data-target=".scrollspy"]';

       dbax_core.g$var('extra_css') := q'[
        <style type="text/css">   

          #sidebar {
              border-bottom: 1px solid #dfdfdf;
              border-top: 1px solid #dfdfdf;
          }

          .nav > li > a {
            color: black;  
            padding: 5px 0;
            border-bottom: 0px;
          }

         .nav .nav {
	        display: none;
         }

        .nav > li.active > a > span,
        .nav > li.active:hover > a > span,
        .nav > li.active:focus > a > span {
          display: inline;
		  font-weight: bold;
        }
		
		.nav > li.active > a,
        .nav > li.active:hover > a,
        .nav > li.active:focus > a {          
		  font-weight: bold;
        }

        .nav .active .nav {
          display: block;
        }

        .nav .nav a {
          font-weight: normal;
          font-size: .85em;
          padding-left: 30px;
        }

        .nav span {
          margin: 0 5px 0 2px;
          display: none;
        }

        .nav .nav .active a,
        .nav .nav .active:hover a,
        .nav .nav .active:focus a {  
          padding-left: 30px;  
		  font-weight: bold;
        }

        .nav .nav .active a span,
        .nav .nav .active:hover a span,
        .nav .nav .active:focus a span {
          display: inline;
		  font-weight: bold
        }

        .affix-top {
          position: relative;
        }

        .affix {
          top: 20px;
        }

        .affix, 
        .affix-bottom {
            width: 213px;
        }

        .affix-bottom {
          position: absolute;
        }
        @media (min-width:1200px) {
          .affix, 
          .affix-bottom {
            width: 263px;
          }
        }

    .code-custom {
        background: #ffffff; 
        overflow:auto;
        width:auto;
        border:solid gray;
        border-width:.1em .1em .1em .1em;
        padding: 4px;
        border-radius: 4px;	
		margin: 10px;
    }

    .code-custom pre {        
        line-height: 150%
    }

	</style>

	<link rel="stylesheet" href="${resources_url}/components/lightbox2/css/lightbox.min.css">

	]';

?>
<?dbax dbax_core.include('header'); ?>
<?dbax dbax_core.include('navbar'); ?>
			<!-- Banner -->
				<section id="banner">
					<header>						
                      	<h2><img src="/resources/site/images/icons/pngs/pin.png" alt=""></h2>
                        <p> Technical Overview</p>
					</header>
				</section>

			<!-- Main -->
            <section class="wrapper style1 ">
               <div class="container">
                  <div id="content" class="article-content">
                     <!-- Content -->                    
                    <div class="row">
                      <!--left-->
                      <div class="col-md-3 scrollspy" id="leftCol">        
                        <ul class="nav hidden-xs hidden-sm" data-spy="affix" id="sidebar">          
                          <li><a href="#intro">Introduction <span class="fa fa-angle-right"></span></a></li>
                          <li><a href="#overview">dbax Overview <span class="fa fa-angle-right"></span></a>            
                            <ul class="nav subsection">
                              <li><a href="#application-framework">dbax is an Application Framework <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#free">dbax is Free <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#light-weight">dabx is Light Weight <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#fast">dabx is Fast <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#mvc">dabx uses M-V-C <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#clean-urls">dabx Generates Clean URLs <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#template-engine">dbax Includes a Template Engine <span class="fa fa-angle-right"></span></a></li>
                            </ul>            
                          </li>          
                          <li><a href="#architecture">Architecture Overview <span class="fa fa-angle-right"></span></a></li>          
                          <li><a href="#web-console">Web Console <span class="fa fa-angle-right"></span></a>            
                            <ul class="nav subsection">
                              <li><a href="#properties-settings">Properties and Settings <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#url-routing">URL routing <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#web-browser-development">Web Browser Development <span class="fa fa-angle-right"></span></a></li>                            
                              <li><a href="#logging-tracing">Logging and tracing <span class="fa fa-angle-right"></span></a></li>
                            </ul>            
                          </li>
                          <li><a href="#security">Security <span class="fa fa-angle-right"></span></a>            
                            <ul class="nav subsection">
                              <li><a href="#user-authentication">User Authentication <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#rbac-authorization">RBAC Authorization <span class="fa fa-angle-right"></span></a></li>              
                              <li><a href="#user-session-state">User Session State <span class="fa fa-angle-right"></span></a></li>
                            </ul>            
                          </li>
                          <li><a href="#fast-development">Fast Development <span class="fa fa-angle-right"></span></a>            
                            <ul class="nav subsection">
                              <li><a href="#live-changes">Live changes <span class="fa fa-angle-right"></span></a></li>
                              <li><a href="#scaffolding">Scaffolding <span class="fa fa-angle-right"></span></a></li>              
                              <li><a href="#code-generators">Code Generators (tapiGen2) <span class="fa fa-angle-right"></span></a></li>
                            </ul>            
                          </li>          
                          <li><a href="#apis">APIs <span class="fa fa-angle-right"></span></a></li>
                        </ul>        
                      </div><!--/left-->


                      <!--right-->
                      <div class="col-xs-12 col-md-9">
                        <h2 id="intro">Introduction <small>to dbax</small></h2> 
                        <p><b>dbax</b> (Data Base Application eXpress) is an Open Source Framework for developing Web applications with SQL, PL/SQL and HTML.
                          Using a web browser and SQL tool like SQL Developer or Toad, you can develop and deploy professional Web-based applications for desktops and mobile devices.</p>

                        <p><b>dbax</b> is community supported and can be installed in all editions of the Oracle Database.
                          <b>dbax</b> runs within the Oracle Database allowing your applications to scale to meet your largest user communities.</p>

						<p>In this technical overview you can see the major components and features of <b>dbax</b>.
                          It describes how easily and quickly you can build beautiful, secure, and scalable Web applications for any devices.</p>

                        <hr>

                        <h2 id="overview">dbax Overview</h2>
                        <h3 id="application-framework">dbax is an Application Framework</h3>
                        <p> <b>dbax</b> is a toolkit for people who build web applications using Oracle and PL/SQL. 
                          Its goal is to enable you to develop projects much faster than you could if you were writing code from scratch,
                          by providing a rich set of libraries or APIs, for commonly needed tasks, as well as a simple interface to access these libraries.
                          <b>dbax</b> lets you focus on your project by minimizing the amount of code needed for a given task.</p>
  
                        <h3 id="free">dbax is Free</h3>
                        <p>
                          <b>dbax</b> is licensed under the LGPL license so you can use it however you please. For more information please read the <a href="${base_path}/license" >license agreement.</a></p>

                        <h3 id="light-weight">dabx is Light Weight</h3>
                        <p> Truly light weight. The core system requires only a few very small PL/SQL Packages or libraries. This is in stark contrast to many frameworks that require significantly more resources. 
                          Additional libraries are loaded dynamically upon request, based on your needs for a given process, so the base system is very lean and quite fast.</p>

                          <h3 id="fast">dabx is Fast</h3>
                        <p> <b>dbax</b> has been developed on top of PL/SQL Web Toolkit. Since version 9.2 of the Oracle Database, PL/SQL Web Toolkit is available as a no-cost option and installed by default.
                          PL/SQL Web Toolkit has great performance, so much that Oracle has developed several of its solutions on this technology.
                        </p>
                              

                        <h3 id="mvc">dabx uses M-V-C</h3>
                        <p>
                          <b>dbax</b> uses the Model-View-Controller approach, which allows great separation between logic and presentation. 
                          This is particularly good for projects in which designers are working with your template files, as the code these files contain will be minimized.</p>
						<p>
                          MVC pattern has become something of a standard in the design of modern web applications. 
                          And for good reason. Most web application code falls under one of the following three categories: presentation, business logic, and data access.
                          The MVC pattern models this separation of concerns well. The end result is that your presentation code can be consolidated in one part of your application with your business logic in another and your data access code in yet another.
                          Many developers have found this well-defined separation indispensable for keeping their code organized, especially when more than one developer is working on the same application.
                        </p>
                        
                        <div class="row">
                    		<div class="col-xs-12 col-md-12 col-sm-12">
                              <img src="${resources_url}/images/dbax-mvc.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                        <br>
                        
                        
                        <h3 id="clean-urls">dabx Generates Clean URLs</h3>
                        <p>
                          The URLs generated by <b>dbax</b> are clean and search-engine friendly.
                          Rather than using the standard "query string" approach to URLs that is synonymous with dynamic systems, <b>dbax</b> uses a segment-based approach:
						 <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .1em;padding: 4px;border-radius: 4px;"><pre style="margin: 0; line-height: 150%">https://dabx.io/blog/post/25</pre></div>
                        
                        </p>                         
                        
                        <h3 id="template-engine">dbax Includes a Template Engine</h3>
                        <p>
                          A template engine is needed to keep interaction with the HTML views, therefore DBAX comes with an easy template engine with a very simple syntax. </p>
                      
                      <p>For example, this simple code: 
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .1em;padding: 4px;border-radius: 4px;"><pre style="margin: 0; line-height: 150%"><span style="color: #000080; font-weight: bold">&lt;ul&gt;</span>
 <span style="color: #008080">&lt;?dbax</span>
<span style="color: #008080">   for c1 in (select   username from all_users)</span>
<span style="color: #008080">   loop</span>
<span style="color: #008080">      p (&#39;&lt;li&gt;&#39; || c1.username || &#39;&lt;/li&gt;&#39;);</span>
<span style="color: #008080">   end loop;</span>
<span style="color: #008080"> ?&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;/ul&gt;</span>
</pre></div>

</p>

                      <p>Will produce the following result:


<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .1em;padding: 4px;border-radius: 4px;"><pre style="margin: 0; line-height: 150%"><span style="color: #000080; font-weight: bold">&lt;ul&gt;</span>
 <span style="color: #000080; font-weight: bold">&lt;li&gt;</span>XS$NULL<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>HR<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>MDSYS<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>ANONYMOUS<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>XDB<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>CTXSYS<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>OUTLN<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>SYSTEM<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>SYS<span style="color: #000080; font-weight: bold">&lt;/li&gt;&lt;li&gt;</span>DBAX<span style="color: #000080; font-weight: bold">&lt;/li&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;/ul&gt;</span>
</pre></div>

                    </p>
                      
                      
                      	<p>We are working hard to incorporate the new <a href="https://github.com/osalvador/tePLSQL" target="blank">tePLSQL</a> template engine, which is compatible with <a href="http://docs.oracle.com/cd/E11882_01/appdev.112/e41502/adfns_psp.htm#ADFNS016" target="blank">Oracle PSP</a>.
                    	Including tePLSQL in <b>dbax</b>, pl/sql developers will not have to learn a new template language and the applications developed with Oracle PSP will be compatible with <b>dbax</b></p>
	                   
                        <hr>

                        <h2 id="architecture">Architecture Overview</h2>
                        <p>
                          <b>dbax</b> utilizes a simple architecture where pages are dynamically generated using a template engine and MVC pattern.
                          Controllers and Models are pl/sql packages that must be compiled in the application schema, not in the <b>dbax</b> schema.
                 		  Once fully installed and configured, the Uniform Resource Locator (URL) will be defined for access to <b>dbax</b> console.
                          Developers requires a Web browser and SQL client software to build, develop and deploy dbax applications. </p>
                 
						<p>All <b>dbax</b> components except Controllers and Models are stored in metadata tables which hold the application definitions.
							When developers create, modify, or delete any component the changes will be shown immediately.
                          The <b>dbax</b> Console allows the developer to quickly navigate back into the development environment to make additional enhancements as required. 
                          This ability to rapidly iterate an application greatly enhances developer productivity. </p>
                 
                 		 <div class="row">
                    		<div class="col-xs-12 col-md-6 col-sm-6 text-center">
                              <h4 >Single instance. Perfect for VPS cloud infrastructure or development environment.</h4>
                              <img src="${resources_url}/images/dbax-Architecture-Overview-Internet.png" alt="" class="img-responsive center-block" />
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6 text-center">
                              <h4>Multiple instances. Perfect for Enterprise infrastructure with multiple Oracle Databases instances, Oracle RAC or Exadata.</h4>
                              <img src="${resources_url}/images/dbax-Architecture-Overview-Enterprise.png" alt="" class="img-responsive center-block" />
                            </div>
                        </div>
                    

                    <p>The <b>dbax</b> architecture requires some Web server to proxy requests between a client Web browser and the dbax engine. The Web server options are:</p>
	<ul class="default"><li>Oracle REST Data Services: Oracle REST Data Services (ORDS) is a Java based, free tool that runs in JEE container such as Oracle WebLogic Server, Oracle Glassfish Server, and Apache Tomcat.</li>
	<li> Embedded PL/SQL Gateway: The Embedded PL/SQL Gateway (EPG) runs in the Oracle XML DB Protocol Server within the Oracle Database and includes the core features of mod_plsql. </li>
	<li> Oracle HTTP Server: The Oracle HTTP Server (Apache) with mod_plsql plugin can be placed on the same physical machine as the database, or on a separate physical machine. Note: mod_plsql is deprecated as of Oracle HTTP Server 12c (12.1.3). Oracle recommends using Oracle REST Data Services instead.</li>
                    </ul>

                    
                    	
                        <hr>
                        
                        <h2 id="web-console">Web Console</h2>
                 		<div class="row">		
                 			<div class="col-xs-3 col-md-3 col-sm-3"></div>
                          	<div class="col-xs-6 col-md-6 col-sm-6 thumb text-center">
                          		<a class="thumbnail" data-lightbox="dbax-console" href="${resources_url}/images/dbax-console-dashboard.png">
                               		<img src="${resources_url}/images/dbax-console-dashboard.png" alt="" class="img-responsive center-block" />                                  
                                  <p>dbax Console - Dashboard</p>
                              </a>
                              
                        	</div>
                          	<div class="col-xs-3 col-md-3 col-sm-3"></div>
                   		</div>
                 		<br>
                        <p>
                          <b>dbax</b> console is an intuitive web application (made also with dbax) that offers a friendly user experience for developers. 
                          Is the primary tool for configuration, monitoring and management <b>dbax</b> applications. <b>dbax</b> not contains any configuration files since all this management is done from the web console. </p>
                          <p>This section describes the main features of the <b>dbax</b> console.                          
                    	</p>
                        
                        <h3 id="properties-settings">Properties and Settings</h3>

                         <div class="row">                   		
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                                <a class="thumbnail" data-lightbox="dbax-console-settings" href="${resources_url}/images/dbax-console-settings.png">
                                    <img class="img-responsive"  src="${resources_url}/images/dbax-console-settings.png" />
                                  <p>dbax Console - Application Settings</p>
                                </a>
                            </div>
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                               <a class="thumbnail" data-lightbox="dbax-console-settings" href="${resources_url}/images/dbax-console-properties.png">
                                  <img class="img-responsive"  src="${resources_url}/images/dbax-console-properties.png" />
                                 <p>dbax Console - Application Properties</p>
                              </a>
                           </div>         
                        </div>
                           <h4>Settings</h4>
                              <p>Developers and administrators of <b>dbax</b> applications can change the settings of an application including:</p>
                              <ul class="default">
                              <li>enable/disable application. If the application is disabled it will stop responding to requests from users immediately.</li>
                              <li>Change the Access Contror. <b>dbax</b> application can be public or private. When the application is private, users must login with user and password.</li>
                              <li>The user authentication can be performed against a Authentication Scheme (LDAP, Active Directory, local users &hellip;).</li>
                              </ul>
                           <h4>Properties</h4>
                              <p>Properties are global variables defined in <b>dbax</b> console and are accessible from any application component; views, controllers and models.They are key-value pairs with live changes. By default, <b>dbax</b> adds some properties to new applications:</p>
                              <ul class="default">
                              <li>log_level that defines the level of log.</li>
                              <li>resources_url that defines the URL of the resources of this application.</li>
                              <li>base_path the base URL for access to the application.</li>
                              <li>session_cookie_name the name of the cookie session.   </li>
                              </ul>
						
                        <h3 id="url-routing">URL routing</h3>
                 		<div class="row">		
                 			<div class="col-xs-3 col-md-3 col-sm-3"></div>
                          	<div class="col-xs-6 col-md-6 col-sm-6 thumb text-center">
                          		<a class="thumbnail" data-lightbox="dbax-console-routing" href="${resources_url}/images/dbax-console-routing.png">
                               		<img src="${resources_url}/images/dbax-console-routing.png" alt="" class="img-responsive center-block" />                                  
                                  <p>dbax Console - Routing</p>
                              </a>                              
                        	</div>
                          	<div class="col-xs-3 col-md-3 col-sm-3"></div>
                   		</div>
                 		<br>                 
                          <p><strong>dbax</strong> has a very practical system by which the URL of the web applications  are routed to methods and controllers, or even to views directly. With this system we get search engine friendly URLs, running on pieces of code which also we send all kinds of parameters.</p>
                          <p>All the power of regular expressions we can apply to <strong>dbax</strong> routes to create such complex rules as we want:</p>
                          <p><strong>URL Pattern:</strong></p>
                          <div class="code-custom"><pre>customers/([[:digit:]]+)/orders/([[:digit:]]+)/type/([[:alpha:]]+)</pre></div>                 		  
                          <p><strong>Controller or Method:</strong></p>
                          <div class="code-custom"><pre><code>pk_c_dbax_crm.orders(\1,\2,'\3')</code></pre></div>
                          <p><strong>Test URL:</strong></p>
                          <div class="code-custom"><pre><code>customers/33245/orders/8769/type/A</code></pre></div>
                          <p><strong>Will produce the following procedure call:</strong></p>
                 		  <div class="code-custom"><pre><code>pk_c_dbax_crm.orders(33245,8769,'A')</code></pre></div>						
                 		<br>
                 		  <p>Even you can create case insensitive routes using <i>match_parameter</i> and advanced regex
                          <p><strong>URL Pattern:</strong></p>
                          <div class="code-custom"><pre>customers/([[:digit:]]+)/orders/([[:digit:]]+)/type/([[:alpha:]]+)@1,1,i</pre></div>
                          <p><strong>Calling controller using positional parameter association: </strong></p>
                          <div class="code-custom"><pre><code>pk_c_dbax_crm.orders(p_customer_id=>\1 , p_order_id=>\2 , p_order_type=>'\3')</code></pre></div>
                          <p><strong>Test URL:</strong></p>
                          <div class="code-custom"><pre><code>CUSTOMERS/33245/Orders/8769/tYPe/A</code></pre></div>
                          <p><strong>Will produce the following procedure call:</strong></p>
                 		  <div class="code-custom"><pre><code>pk_c_dbax_crm.orders(p_customer_id=>33245 , p_order_id=>8769 , p_order_type=>'A')</code></pre></div>
                 
                          <p>The <strong>dbax</strong> routing uses Oracle regular expressions:</p>
                          <ul class="default">
                          	<li><a href="https://docs.oracle.com/cd/E11882_01/appdev.112/e41502/adfns_regexp.htm#ADFNS1003">Oracle REGEX</a></li>
                          	<li><a href="https://docs.oracle.com/cd/B28359_01/server.111/b28286/functions136.htm">Oracle REGEXP_INSTR</a></li>
                          	<li><a href="https://docs.oracle.com/cd/B28359_01/server.111/b28286/functions137.htm">Oracle REGEXP_REPLACE</a></li>
                         </ul>
                 		  
                 
                        <h3 id="web-browser-development">Web Browser Development</h3>
                 		<div class="row">		
                 			<div class="col-xs-3 col-md-3 col-sm-3"></div>
                          	<div class="col-xs-6 col-md-6 col-sm-6 thumb text-center">
                          		<a class="thumbnail" data-lightbox="dbax-console-views-edit" href="${resources_url}/images/dbax-console-views-edit.png">
                               		<img src="${resources_url}/images/dbax-console-views-edit.png" alt="" class="img-responsive center-block" />                                  
                                  <p>dbax Console - Editing View</p>
                              </a>                              
                        	</div>
                          	<div class="col-xs-3 col-md-3 col-sm-3"></div>
                   		</div>
                 		<br>   
                        <p> <strong>dbax</strong> view code editor provides HTML validation with inline errors, auto completion, syntax highlighting, search and replace with regex support, complete with undo and redo support.</p>
						<h3 id="logging-tracing">Logging and tracing</h3>
                        <div class="row">		
                 			<div class="col-xs-3 col-md-3 col-sm-3"></div>
                          	<div class="col-xs-6 col-md-6 col-sm-6 thumb text-center">
                          		<a class="thumbnail" data-lightbox="dbax-console-log-trace" href="${resources_url}/images/dbax-console-log-trace.png">
                               		<img src="${resources_url}/images/dbax-console-log-trace.png" alt="" class="img-responsive center-block" />                                  
                                  <p>dbax Console - Logging and tracing</p>
                              </a>                              
                        	</div>
                          	<div class="col-xs-3 col-md-3 col-sm-3"></div>
                   		</div>
                 		<br>   
                 		<p>In <strong>dbax</strong> console you can review the logs and traces that have been automatically created in each user request. Use it to identify software problems or live monitor.</p>
                        <p>In addition through a simple API you can create your custom logs:</p>
                        <div class="code-custom"><pre><code>dbax_log.debug(&lsquo;This is debug message&rsquo;);
dbax_log.trace(&lsquo;This is trace message&rsquo;);
dbax_log.warn(&lsquo;This is warning message&rsquo;);
dbax_log.error(&lsquo;This is error message&rsquo;);</code></pre></div>
                        <p>You can even search within the text log by using <a href="http://docs.oracle.com/cd/B28359_01/text.111/b28304/cqoper.htm">Oracle Text CONTAINS Query Operators</a> for advanced filter.</p>
                        <hr>                        
						
                        <h2 id="security">Security</h2>

                        <div class="row">
                    		<div class="col-xs-3 col-md-3 col-sm-3">
                             <img src="${resources_url}/images/rbac.png" alt="" class="img-responsive center-block" />
                            </div>
                          <div class="col-xs-9 col-md-9 col-sm-9">
                          <p>                          
                          Application developers are responsible for developing secure applications. 
                          Defining the appropriate authentication scheme (that is, establishing a user's identity) for an application is critical to ensure only appropriate users can log into the application. 
                          As a developer, you must determine which applications do not require authentication (also known as public applications).
                          You should also define authorization schemes to easily define access to the application. </p>
                            </div>
                        </div>
                 		<br>
       
                        
                        <h3 id="user-authentication">User Authentication</h3>
						<div class="row">                   		
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                                <a class="thumbnail" data-lightbox="dbax-console-users" href="${resources_url}/images/dbax-console-users-accounts.png">
                                    <img class="img-responsive"  src="${resources_url}/images/dbax-console-users-accounts.png" />
                                  <p>dbax Console - Users Accounts</p>
                                </a>
                            </div>
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                               <a class="thumbnail" data-lightbox="dbax-console-users" href="${resources_url}/images/dbax-console-users-profile.png">
                                  <img class="img-responsive"  src="${resources_url}/images/dbax-console-users-profile.png" />
                                 <p>dbax Console - User Profile</p>
                              </a>
                           </div>         
                        </div>                 
                        <p>You can define the type of authentication you want to use to validate users:</p>
                        <ul class="default">
                        <li>LDAP</li>
                        <li>Active Directory</li>
                        <li>Local Users</li>
                        </ul>
                        <p>From the <strong>dbax</strong> console you can easily create local users and manage their passwords. And set the authentication scheme for the application.</p>                        
						
                        <h3 id="rbac-authorization">RBAC Authorization</h3>
						<div class="row">                   		
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                                <a class="thumbnail" data-lightbox="dbax-console-roles" href="${resources_url}/images/dbax-console-role-permissions.png">
                                    <img class="img-responsive"  src="${resources_url}/images/dbax-console-role-permissions.png" />
                                  <p>dbax Console - Permissions assigned to Role </p>
                                </a>
                            </div>
                             <div class="col-lg-6 col-md-6 col-xs-6 thumb text-center">
                               <a class="thumbnail" data-lightbox="dbax-console-roles" href="${resources_url}/images/dbax-console-role-users.png">
                                  <img class="img-responsive"  src="${resources_url}/images/dbax-console-role-users.png" />
                                 <p>dbax Console - Role Assigned to Users</p>
                              </a>
                           </div>         
                        </div>                          
                 		<p>Role-Based Access Control (RBAC) provides a simple yet powerful centralized access control. The components of RBAC such as role-permissions and user-role relationships make it simple to do user assignments. 
                          	
                          </p>
                        <h3 id="user-session-state">User Session State</h3>
                        <p>
                         
                          Session support in <b>dbax</b> consists of a way to preserve certain data across subsequent accesses.
                          User session are stored in the server side. A visitor accessing your web site is assigned a unique id, the so-called session id. The session's data is stored on the database and its session id is stored in a cookie. 
                          The session support allows you to store data between requests.</p>
                        <hr>             
                        
                        
                        <h2 id="fast-development">Fast Development</h2>
                        <p><strong>dbax</strong> includes numerous features to make your development be as agile and quick as possible. Do not reinvent the wheel, all repetitive tasks that a framework should offer are available in <strong>dbax</strong>.</p>
                        
                        <h3 id="live-changes">Live changes</h3>
                        <p>Any changes you make to any component of <strong>dbax</strong>, either from the <strong>dbax</strong> console, as in a controller or model, will be visible at that moment by the users of your application.</p>
						<p>You will not have to undeploy your applications or restart any server. This feature accelerates the development of applications because developers do not have to wait for the services restart to review changes, increasing their productivity.</p>
						
                        <h3 id="scaffolding">Scaffolding</h3>
                        <p>When you create a new application in <strong>dbax</strong> you can select an application on which to base as a template. The properties, routes and views that you have created in your template will be copied to your new application.</p>
						<p>In addition to this, if the application is private the controllers required for log in users is automatically created.</p>
						<p>By default, <strong>dbax</strong> includes two templates, one based on Bootstrap and another based on Patternfly. Both templates are responsive and focused on creating web applications.</p>
                        <div class="row">		
                 			<div class="col-xs-3 col-md-3 col-sm-3"></div>
                          	<div class="col-xs-6 col-md-6 col-sm-6 thumb text-center">
                          		<a class="thumbnail" data-lightbox="dbax-console-new-app" href="${resources_url}/images/dbax-console-new-app.png">
                               		<img src="${resources_url}/images/dbax-console-new-app.png" alt="" class="img-responsive center-block" />                                  
                                  <p>dbax Console - New Application</p>
                              </a>
                              
                        	</div>
                          	<div class="col-xs-3 col-md-3 col-sm-3"></div>
                   		</div>
                 		<br>
                 		
                 		<h3 id="code-generators">Code Generators (tapiGen2)</h3>
                      	<p>With <strong>dbax</strong> installation, the code generator <a href="https://github.com/osalvador/tapiGen2">tapiGen2</a> is included, with which you can easily create TableAPIs as models for access to their data models.</p>
                      	<p>Again this feature increases the productivity of developers, as well as the maintainability and security of your code.</p>
                        <hr>       
                        
                         <h2 id="apis">APIs</h2>
                          <p><strong>dbax</strong> includes numerous APIs to facilitate common development tasks. Some of these APIs are:</p>
                          <ul class="default">
                          <li>DBAX_COOKIE: for managing user cookies.</li>
                          <li>DBAX_DATATABLE: standardizes the use of <a href="https://datatables.net/">Datatable</a> (jQuery Table Plugin) in <strong>dbax</strong>.</li>
                          <li>DBAX_DOCUMENT: for processing files and documents.</li>
                          <li>DBAX_EXCEPTION: for managing exceptions.</li>
                          <li>DBAX_FILE_PARSER: for parsing files.</li>
                          <li>DBAX_LDAP: for validation and access to LDAP.</li>
                          <li>DBAX_LOG: for recording traces and logs.</li>
                          <li>DBAX_SECURITY: for safety management.</li>
                          <li>DBAX_SSESSION: for managing sessions and user session data.</li>
                          <li>DBAX_UTILS: dbax several utilities.</li>
                          <li>JSON_UTIL: for creating and parsing JSON documents.</li>
                          <li>XLSX_BUILDER: for creating and parsing XLSX document files.</li>
                          </ul>                        
                        <hr>       
                        
                        
                        </div><!--/right-->
                    </div><!--/row-->
                     
                  </div>
               </div>
            </section>




		<?dbax dbax_core.include('footer'); ?>

		</div>
		
      	
		<script src="${resources_url}/components/lightbox2/js/lightbox-plus-jquery.min.js"></script>
		
		<?dbax dbax_core.include('foot_scripts'); ?>
  		

        <script type='text/javascript'>        
          $(document).ready(function() {        
              /* activate sidebar */
              $('#sidebar').affix({
                offset: {
                  top: $('#sidebar').offset().top
                }
              });                
            
          });        
        </script>

	</body>
</html>