<?dbax dbax_core.include('header'); ?>
<?dbax dbax_core.g$var('navbar_item') := 'download'; ?>
<?dbax  dbax_core.include('navbar'); ?>
			<!-- Banner -->
				<section id="banner">
					<header>
						<h2><img src="/resources/site/images/icons/pngs/download.png" alt=""></h2>
                        <p> dbax is still in beta version</p>
					</header>
				</section>
			<!-- Main -->
          <section class="wrapper style1">
             <div class="container">
                <div id="content">
                  
                  <article class="article-content">
                    
						<div class="col-xs-12">
                            <div class="card">
                              <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">v0.1.0</div>
                                     </div>
                                      <div class="pull-right">                                        
                                            <span class="label label-danger">Pre-release</span>                                        
                                      </div>                                    
                                </div>
                                <div class="card-body">
                                    <div class="text-indent">
                                      Still in beta. Released on 23 Feb 2016
                                  	</div>
                                    <div class="sub-title">Download</div>
                                    <div class="text-indent">
                                      <div class="well text-center">
                                      	<a href="https://github.com/osalvador/dbax/archive/master.zip" class="button btn"><span class="fa fa-file-archive-o"></span> Source code (zip)</a>
                                      	<a href="https://github.com/osalvador/dbax/archive/master.tar.gz" class="button btn"><span class="fa fa-file-archive-o"></span> Source code (tar.gz)</a>  
                                      </div>
                                   </div>                                  
                                </div>
                            </div>
                        </div>
						<div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">v0.0.1</div>
                                     </div>
                                      <div class="pull-right">                                        
                                            <span class="label label-danger">Pre-release</span>                                        
                                      </div>                                    
                                </div>
                                <div class="card-body">
                                    <div class="text-indent">
                                      Released on 12 Dec 2015
                                  	</div>
                                    <div class="sub-title">Download</div>
                                    <div class="text-indent">
                                      <div class="well text-center">
                                      	<a href="https://github.com/osalvador/dbax/archive/master.zip" class="button btn"><span class="fa fa-file-archive-o"></span> Source code (zip)</a>
                                      	<a href="https://github.com/osalvador/dbax/archive/master.zip" class="button btn"><span class="fa fa-file-archive-o"></span> Source code (tar.gz)</a>  
                                      </div>   
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    
                    
				  </article>
                </div>
             </div>
          </section>


		<?dbax dbax_core.include('footer'); ?>

		</div>
		
      	<?dbax dbax_core.include('foot_scripts'); ?>

	</body>
</html>