<!DOCTYPE HTML>
<html>
	<head>
		<title>${title} - dbax</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />       
      
      <link rel="apple-touch-icon" sizes="57x57" href="${resources_url}/images/dbax-ico/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="${resources_url}/images/dbax-ico/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="${resources_url}/images/dbax-ico/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="${resources_url}/images/dbax-ico/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="${resources_url}/images/dbax-ico/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="${resources_url}/images/dbax-ico/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="${resources_url}/images/dbax-ico/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="${resources_url}/images/dbax-ico/apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="${resources_url}/images/dbax-ico/apple-touch-icon-180x180.png">
      <link rel="icon" type="image/png" href="${resources_url}/images/dbax-ico/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="${resources_url}/images/dbax-ico/android-chrome-192x192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="${resources_url}/images/dbax-ico/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="${resources_url}/images/dbax-ico/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="${resources_url}/images/dbax-ico/manifest.json">
      <link rel="mask-icon" href="${resources_url}/images/dbax-ico/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="apple-mobile-web-app-title" content="dbax.io">
      <meta name="application-name" content="dbax.io">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="${resources_url}/images/dbax-ico/mstile-144x144.png">      
      <meta name="mobile-web-app-capable" content="yes">
      
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--[if lte IE 8]><script src="${resources_url}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="${resources_url}/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="${resources_url}/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="${resources_url}/assets/css/ie9.css" /><![endif]-->
      	
        <%= dbax_utils.get(dbax_core.g$var,'extra_css') %>
	</head>